/*
*
* --- file _main.scss
*    styling main page
*
*
*/

//Settings for blocks
//Header
header {
	position: relative;
	#logo {
		position: absolute;
		left: 115px;
		top: 40px;
	}
	.flickr {
		left: 623px;
		background-color: $color_site_pink;
		img {
			margin-top: 5px;
			margin-left: 7px;
		}
	}
	.stumble {
		left: 658px;
		background-color: $color_site_green;
		img {
			margin-top: 5px;
		}
	}
	.facebook {
		left: 693px;
		background-color: $color_site_pink;
		i {
			color: #fff;
			margin-left: 10px;
			margin-top: 9px;
		}
	}
	.twitter {
		left: 728px;
		background-color: $color_site_green;
		img {
			margin-top: 3px;
			margin-left: 8px;
		}
	}
	.call {
		position: absolute;
		left: 779px;
		font-size: 18px;
		font-family: $pt_sans;
		top: 40px;
		text-transform: uppercase;
	}
	#phone {
		position: absolute;
		left: 870px;
		top: 35px;
	}
	.p_number {
		position: absolute;
		top: 37px;
		left: 907px;
		text-transform: uppercase;
		font-size: 23px;
		font-family: $pt_sans;
		color: $color_site_pink;
	}
	div {
		position: absolute;
		@include size(30px 30px);
		background-color: $color_site_green;
		top: 36px;
	}
}
//superb
.superb {
	position: relative;
	background-color: $color_site_green;
	.content {
		position: absolute;
		left: 675px;
		top: 78px;
		@include size(390px 280px);
		p {
			font-family: $pt_sans;
			font-size: 15px;
			color: $color_site_grey;
			line-height: 1.75;
		}
		h3 {
			margin-top: 0px;
			font-size: 43px;
			font-family: 'Raleway', sans-serif;
			color: #fff;
			font-weight: $raleway_font_weight;
			margin-bottom: 23px;
		}
	}
}
//buy
.buy {
	position: relative;
	background-color: $color_site_pink;
	img {
		margin-top: -350px;
		margin-left: 115px;
	}
	.button_buy {
		position: absolute;
		top: 35px;
		left: 675px;
		@include size(220px 40px);
		background-color: $color_site_green;
		span {
			left: 43px;
		}
	}
	div {
		position: relative;
		span {
			font-family: $pt_sans;
			font-size: 18px;
			position: absolute;
			top: 8px;
			color: #fff;
		}
	}
	.demo {
		position: absolute;
		@include size(140px 40px);
		left: 915px;
		top: 35px;
		background-color: $color_site_grey;
		span {
			left: 35px;
		}
	}
}
//check
.check {
	position: relative;
	.features {
		margin-top: 40px;
		text-transform: uppercase;
		margin-left: 409px;
		font-family: 'Raleway', sans-serif;
		font-size: 32px;
		margin-bottom: 44px;
		font-weight: $raleway_font_weight;
	}
	.content {
		@include size(952px 250px);
		margin-left: 126px;
		div {
			float: left;
			@include size(265px 205px);
			margin-right: 52px;
			h3 {
				font-weight: $raleway_font_weight;
				margin-left: 0px;
				margin-top: 8px;
				margin-bottom: 0px;
				float: right;
				text-transform: uppercase;
				font-family: 'Raleway', sans-serif;
				font-size: 25px;
				line-height: 1.1;
			}
			p {
				margin-top: 21px;
				font-family: $pt_sans;
				font-size: 15px;
				line-height: 1.6;
			}
		}
		.calendar {
			margin-top: 3px;
			margin-left: 12px;
			h3 {
				margin-top: 1px;
				margin-right: 50px;
			}
		}
		.search {
			h3 {
				margin-right: 83px;
			}
		}
		.settings {
			margin-right: 0px;
			h3 {
				margin-right: 58px;
			}
		}
	}
}
//look
.look {
	h3 {
		letter-spacing: 0px;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-size: 32px;
		margin-top: 0px;
		margin-bottom: 42px;
		margin-left: 377px;
		font-weight: $raleway_font_weight;
	}
	.content {
		@include size(1000px 200px);
		margin-left: 115px;
		img {
			float: left;
			margin-right: 20px;
		}
	}
}
//premium
.premium {
	position: relative;
	h3 {
		margin-top: 28px;
		font-weight: $raleway_font_weight;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-size: 32px;
		margin-left: -173px;
		text-align: center;
		margin-bottom: 29px;
	}
	.content {
		@include size(960px 390px);
		margin-left: 114px;
		.button {
			@include size(135px 35px);
			background-color: $color_site_green;
			margin-left: 120px;
			a {
				text-decoration: none;
				p {
					font-family: $pt_sans;
					color: #fff;
					font-size: 15px;
					text-align: center;
					padding-top: 6px;
				}
			}
		}
		.list {
			p {
				font-family: $pt_sans;
				text-transform: uppercase;
				color: #fff;
				font-size: 20px;
				text-align: center;
			}
			ul {
				line-height: 2.5;
				color: #fff;
				li {
					list-style-type: none;
				}
				li:before {
					content: "► ";
				}
			}
		}
		div {
			.top_message {
				@include size(205px 45px);
				margin: 0 auto;
				p {
					margin-left: 28px;
					margin-top: 0px;
					margin-bottom: 0px;
					font-family: $pt_sans;
					text-transform: uppercase;
					color: #fff;
					font-size: 18px;
					padding-top: 3px;
					span {
						font-size: 27px;
					}
				}
			}
			.top_message2 {
				p {
					margin-left: 33px;
				}
			}
			.top_message3 {
				p {
					margin-left: 18px;
				}
			}
		}
		.regular {
			float: left;
			@include size(300px 385px);
			margin-right: 20px;
			background-color: $color_site_grey;
			.top_message {
				background-color: $color_site_green;
			}
		}
		.elite {
			float: left;
			@include size(300px 385px);
			margin-right: 20px;
			background-color: $color_site_pink;
			.top_message {
				background-color: $color_site_grey;
			}
			.button {
				background-color: $color_site_grey;
			}
		}
		.pro {
			margin-right: 20px;
			@include size(300px 385px);
			float: right;
			background-color: $color_site_green;
			.top_message {
				background-color: $color_site_pink;
			}
			.button {
				background-color: $color_site_pink;
			}
		}
	}
}
//learn
.learn {
	position: relative;
	.content {
		@include size(960px 380px);
		margin-left: 115px;
		.customers {
			@include size(410px 285px);
			margin-right: 60px;
			float: left;
			.comment {
				@include size(400px 70px);
				margin-bottom: 10px;
				img {
					float: left;
					margin-top: 5px;
				}
				p {
					font-family: $pt_sans;
					font-size: 15px;
					width: 360px;
					margin-top: 0px;
					margin-bottom: 8px;
					padding-left: 70px;
				}
			}
		}
		.youtube {
			@include size(490px 315px);
			float: right;
			h3 {
				margin-left: 5px;
				margin-bottom: 26px;
			}
			embed {
				margin-left: 10px;
			}
		}
		h3 {
			margin-top: 30px;
			font-weight: $raleway_font_weight;
			text-transform: uppercase;
			font-family: 'Raleway', sans-serif;
			font-size: 32px;
			margin-bottom: 21px;
		}
	}
}
//subscribe
.subscribe {
	position: relative;
	background-color: $color_site_pink;
	.content {
		@include size(230px 45px);
		position: absolute;
		left: 115px;
		top: 32px;
		p {
			text-transform: uppercase;
			line-height: 1;
			color: #fff;
			font-family: 'Raleway', sans-serif;
			font-size: 21px;
			margin-bottom: 0px;
			margin-top: 0px;
			font {
				font-size: 32px;
				font-weight: bold;
			}
		}
	}
	form {
		position: absolute;
		left: 629px;
		top: 32px;
		input[type='email'] {
			@include size(365px 35px);
			border: 0px;
		}
		input[type='submit'] {
			background-color: #fff;
			border: 0px;
			@include size(60px 55px);
			margin-left: -4px;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}
//footer
footer {
	position: relative;
	.content {
		.privacy {
			@include size(250px 20px);
			font-family: $pt_sans;
			font-size: 15px;
			margin-left: 821px;
			margin-top: -19px;
			a {
				text-decoration: none;
				color: black;
				margin-right: 10px;
				span::before{
					content: "&";
				}
			}
		}
		p {
			font-family: $pt_sans;
			font-size: 15px;
			margin-left: 112px;
			padding-top: 33px;
			margin-bottom: 0px;
			margin-top: 0px;
		}
	}
}