/*
*
* --- file _mixin.scss
*   project mixin
*
*
*/
@mixin Raleway_title{
	font-weight: $raleway_title_font_weight;
	font-size: $raleway_title_font_size;
	font-family: $raleway_fonts;
	text-transform: $raleway_title_char;
}