/*
*
* --- file _responsive.scss
*   responsive desing
*
*
*/
//9.7'
@media screen and (max-width: 1024px) {
	@include wide_screen;
	header {
		#logo {
			left: 70px;
		}
		.flickr {
			left: 445px;
		}
		.stumble {
			left: 480px;
		}
		.facebook {
			left: 515px;
		}
		.twitter {
			left: 550px;
		}
		.call {
			left: 600px;
		}
		#phone {
			left: 675px;
		}
		.phone_number {
			left: 715px;
		}
	}
	.tool {
		.content {
			position: absolute;
			padding-top: 0px;
			top: 65px;
			left: 560px;
		}
	}
	.buy {
		img {
			display: block;
			left: 20px;
			top: -345px;
		}
		.button-buy {
			left: 555px;
		}
		.button-demo {
			left: 795px;
		}
	}
	.check {
		height: 350px;
		.features {
			margin-bottom: 40px;
		}
		.content {
			.calendar {
				margin-left: 40px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
			}
			.search {
				margin-left: 40px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
			}
			.settings {
				margin-top: 0px;
				float: right;
				margin-right: 37px;
				margin-left: 0px;
			}
		}
	}
	.look {
		height: 290px;
		h3 {
			margin-bottom: 7px;
		}
		.content {
			img {
				float: left;
				margin-left: 27px;
			}
		}
	}
	.premium {
		height: 520px;
		.content {
			.elite, .regular, .pro {
				float: left;
				margin-top: 0px;
				margin-left: 16px;
				margin-right: 0px;
			}
		}
	}
	.learn {
		height: 410px;
		.content {
			.youtube, .customers {
				float: left;
				margin-top: 0px;
				margin-left: 15px;
			}
			.youtube {
				@include size(435px 360px);
			}
			.customers {
				@include size(410px 360px);
			}
		}
	}
	.subscribe {
		.content {
			top: 35px;
			left: 50px;
		}
		form {
			left: 580px;
			input[type='email'] {
				width: 300px;
			}
		}
	}
	footer {
		.content {
			p {
				margin-left: 60px;
				padding-top: 40px;
			}
			.privacy {
				margin-left: 705px;
				margin-top: -20px;
			}
		}
	}
}
//Nexus 7 - Landscape
@media screen and (max-width: 960px) {
	@include wide_screen;
	header {
		#logo {
			left: 110px;
		}
		.flickr {
			left: 410px;
		}
		.stumble {
			left: 445px;
		}
		.facebook {
			left: 480px;
		}
		.twitter {
			left: 515px;
		}
		.call {
			left: 565px;
		}
		#phone {
			left: 645px;
		}
		.phone_number {
			left: 685px;
		}
	}
	.tool {
		.content {
			position: absolute;
			padding-top: 0px;
			top: 65px;
			left: 540px;
		}
	}
	.buy {
		img {
			display: block;
			left: 5px;
			top: -345px;
		}
		.button-buy {
			left: 525px;
		}
		.button-demo {
			left: 765px;
		}
	}
	.check {
		height: 350px;
		.features {
			margin-bottom: 40px;
		}
		.content {
			.calendar {
				margin-left: 40px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
				h3{
					font-size: 30px;
					margin-right: 10px;
				}
			}
			.search {
				margin-left: 40px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
				h3{
					font-size: 30px;
					margin-right: 43px;
				}
			}
			.settings {
				margin-top: 0px;
				float: right;
				margin-right: 37px;
				margin-left: 0px;
				h3{
					font-size: 30px;
					margin-right: 25px;
				}
			}
		}
	}
	.look {
		height: 290px;
		h3 {
			margin-bottom: 7px;
		}
		.content {
			img {
				float: left;
				margin-left: 15px;
			}
		}
	}
	.premium {
		height: 520px;
		.content {
			.elite, .regular, .pro {
				float: left;
				margin-top: 0px;
				margin-left: 10px;
				margin-right: 0px;
			}
		}
	}
	.learn {
		height: 410px;
		.content {
			.youtube, .customers {
				float: left;
				margin-top: 0px;
				margin-left: 15px;
			}
			.youtube {
				@include size(435px 360px);
			}
			.customers {
				@include size(410px 360px);
			}
		}
	}
	.subscribe {
		.content {
			top: 35px;
			left: 90px;
		}
		form {
			left: 520px;
			input[type='email'] {
				width: 300px;
			}
		}
	}
	footer {
		.content {
			p {
				margin-left: 95px;
				padding-top: 40px;
			}
			.privacy {
				margin-left: 615px;
				margin-top: -20px;
			}
		}
	}
}
//8.4'
@media screen and (max-width: 800px) {
	@include wide_screen;
	header {
		#logo {
			left: 75px;
		}
		.flickr {
			left: 365px;
		}
		.stumble {
			left: 400px;
		}
		.facebook {
			left: 435px;
		}
		.twitter {
			left: 470px;
		}
		.call {
			left: 525px;
		}
		#phone {
			left: 595px;
		}
		.phone_number {
			left: 630px;
		}
	}
	.tool {
		.content {
			position: static;
			margin: 0 auto;
			padding-top: 78px;
		}
	}
	.buy {
		img {
			display: none;
		}
		.button-buy {
			left: 190px;
		}
		.button-demo {
			left: 425px;
		}
	}
	.check {
		height: 315px;
		.content {
			.calendar {
				margin-left: 10px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
				h3 {
					font-size: 25px;
					margin-right: 48px;
				}
				p {
					font-size: 13px;
				}
			}
			.search {
				margin-left: 0px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
				h3 {
					font-size: 25px;
					margin-right: 80px;
				}
				p {
					font-size: 13px;
				}
			}
			.settings {
				margin-top: 0px;
				float: right;
				margin-right: 147px;
				margin-left: 0px;
				h3 {
					font-size: 25px;
					margin-right: 64px;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
	.look {
		height: 845px;
		h3 {
			font-size: 30px;
			margin-bottom: 7px;
		}
		.content {
			img {
				float: none;
				margin-right: 0px;
				margin-top: 35px;
				margin-left: 270px;
			}
		}
	}
	.premium {
		height: 1350px;
		h3 {
			margin-left: 0px;
			font-size: 30px;
		}
		.content {
			.elite, .regular, .pro {
				float: none;
				margin-top: 35px;
				margin-left: 234px;
			}
		}
	}
	.learn {
		height: 410px;
		.content {
			.youtube, .customers {
				float: left;
				margin-top: 0px;
				margin-left: 15px;
			}
			.customers {
				@include size(390px 360px);
				margin-right: 0px;
				.comment {
					margin-bottom: 23px;
					p {
						width: 331px;
						margin-bottom: 2px;
					}
				}
			}
			.youtube {
				@include size(435px 360px);
				embed {
					width: 335px;
				}
			}
		}
	}
	.subscribe {
		.content {
			left: 55px;
		}
		form {
			left: 385px;
		}
	}
	footer {
		.content {
			p {
				margin-left: 50px;
			}
			.privacy {
				margin-left: 495px;
			}
		}
	}
}
//iPad - Portrait
@media screen and (max-width: 768px) {
	@include wide_screen;
	header {
		#logo {
			left: 50px;
		}
		.flickr {
			left: 350px;
		}
		.stumble {
			left: 385px;
		}
		.facebook {
			left: 420px;
		}
		.twitter {
			left: 455px;
		}
		.call {
			left: 497px;
		}
		#phone {
			left: 565px;
		}
		.phone_number {
			left: 600px;
		}
	}
	.tool {
		.content {
			position: static;
			margin: 0 auto;
			padding-top: 70px;
		}
	}
	.buy {
		img {
			display: none;
		}
		.button-buy {
			left: 170px;
		}
		.button-demo {
			left: 405px;
		}
	}
	.check {
		height: 315px;
		.content {
			.calendar {
				width: 250px;
				margin-left: 10px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
				h3 {
					font-size: 25px;
					margin-right: 40px;
				}
				p {
					font-size: 13px;
				}
			}
			.search {
				width: 250px;
				margin-left: 0px;
				margin-right: 0px;
				margin-top: 0px;
				float: left;
				h3 {
					font-size: 25px;
					margin-right: 72px;
				}
				p {
					font-size: 13px;
				}
			}
			.settings {
				width: 250px;
				margin-top: 0px;
				float: right;
				margin-right: 190px;
				margin-left: 0px;
				h3 {
					font-size: 25px;
					margin-right: 53px;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
	.look {
		height: 845px;
		h3 {
			font-size: 30px;
			margin-bottom: 7px;
		}
		.content {
			img {
				float: none;
				margin-right: 0px;
				margin-top: 35px;
				margin-left: 270px;
			}
		}
	}
	.premium {
		height: 1350px;
		h3 {
			margin-left: 0px;
			font-size: 30px;
		}
		.content {
			.elite, .regular, .pro {
				float: none;
				margin-top: 35px;
				margin-left: 225px;
			}
		}
	}
	.learn {
		height: 410px;
		.content {
			.youtube, .customers {
				float: left;
				margin-top: 0px;
				margin-left: 10px;
			}
			.customers {
				@include size(390px 360px);
				margin-right: 0px;
				.comment {
					margin-bottom: 23px;
					p {
						width: 309px;
						margin-bottom: 2px;
					}
				}
			}
			.youtube {
				@include size(435px 360px);
				embed {
					width: 317px;
				}
			}
		}
	}
	.subscribe {
		.content {
			left: 50px;
		}
		form {
			left: 405px;
		}
	}
	footer {
		.content {
			p {
				margin-left: 40px;
			}
			.privacy {
				margin-left: 505px;
			}
		}
	}
}
//HTC One X - Landscape
@media screen and (max-width: 640px) {
	header {
		#logo {
			left: 15px;
			top: 35px;
		}
		.flickr {
			left: 220px;
		}
		.stumble {
			left: 255px;
		}
		.facebook {
			left: 290px;
		}
		.twitter {
			left: 325px;
		}
		.call {
			left: 365px;
			font-size: 16px;
		}
		#phone {
			left: 435px;
		}
		.phone_number {
			left: 470px;
			font-size: 20px;
		}
	}
	.tool {
		.content {
			position: static;
			margin: 0 auto;
			padding-top: 78px;
		}
	}
	.buy {
		img {
			display: none;
		}
		.button-buy {
			left: 108px;
		}
		.button-demo {
			left: 345px;
		}
	}
	.check {
		height: 800px;
		.features {
			font-size: 30px;
		}
		.content {
			.calendar {
				margin-left: 190px;
				margin-right: 0px;
				margin-top: 35px;
				float: none;
				h3{
					font-size: 30px;
					margin-right: 10px;
				}
				p {
					font-size: 15px;
				}
			}
			.search {
				margin-left: 190px;
				margin-right: 0px;
				margin-top: 35px;
				float: none;
				h3{
					font-size: 30px;
					margin-right: 43px;
				}
				p {
					font-size: 15px;
				}
			}
			.settings {
				margin-left: 190px;
				margin-right: 0px;
				margin-top: 35px;
				float: none;
				h3{
					font-size: 30px;
					margin-right: 25px;
				}
				p {
					font-size: 15px;
				}
			}
		}
	}
	.look {
		height: 845px;
		h3 {
			font-size: 30px;
			margin-bottom: 7px;
		}
		.content {
			img {
				float: none;
				margin-right: 0px;
				margin-top: 35px;
				margin-left: 205px;
			}
		}
	}
	.premium {
		height: 1350px;
		h3 {
			margin-left: 0px;
			font-size: 30px;
		}
		.content {
			.elite, .regular, .pro {
				float: none;
				margin-top: 35px;
				margin-left: 150px;
			}
		}
	}
	.learn {
		height: 700px;
		.content {
			.youtube {
				float: none;
				margin-top: 35px;
				margin-left: 110px;
				h3{
					text-align: center;
					margin-left: 0px;
				}
				embed{
					width: 420px;
				}
			}
			.customers {
				height: 325px;
				float: none;
				margin-top: 35px;
				margin-left: 110px;
			}
		}
	}
	.subscribe {
		.content {
			top: 35px;
			left: 45px;
			p {
				font-size: 18px;
				span {
					font-size: 28px;
				}
			}
		}
		form {
			left: 285px;
			input[type='email'] {
				width: 260px;
			}
		}
	}
	footer {
		.content {
			p {
				font-size: 13px;
				margin-left: 20px;
			}
			.privacy {
				font-size: 13px;
				margin-left: 405px;
			}
		}
	}
}
//Nexus 7 - Portrait
@media screen and (max-width: 600px) {
	@include wide_screen;
	header {
		height: 215px;
		#logo {
			left: 220px;
		}
		.social {
			top: 100px;
		}
		.flickr {
			left: 230px;
		}
		.stumble {
			left: 265px;
		}
		.facebook {
			left: 300px;
		}
		.twitter {
			left: 335px;
		}
		.call {
			left: 173px;
			font-size: 16px;
			top: 156px;
		}
		#phone {
			left: 244px;
			top: 151px;
		}
		.phone_number {
			left: 280px;
			font-size: 20px;
			top: 153px;
		}
	}
	.tool {
		.content {
			position: static;
			margin-left: 120px;
			padding-top: 78px;
		}
	}
	.buy {
		img {
			display: none;
		}
		.button-buy {
			left: 110px;
		}
		.button-demo {
			left: 350px;
		}
	}
	.check {
		.features {
			font-size: 30px;
		}
		.content {
			.calendar {
				margin-left: 165px;
			}
			.search {
				margin-left: 165px;
			}
			.settings {
				margin-left: 165px;
			}
		}
	}
	.look {
		.content {
			img {
				margin-left: 180px;
			}
		}
	}
	.premium {
		.content {
			.elite, .regular, .pro {
				margin-left: 140px;
			}
		}
	}
	.learn {
		height: 700px;
		.content {
			.youtube {
				float: none;
				margin-top: 35px;
				margin-left: 110px;
				h3{
					text-align: center;
					margin-left: 0px;
				}
				embed{
					width: 420px;
				}
			}
			.customers {
				height: 325px;
				float: none;
				margin-top: 35px;
				margin-left: 110px;
			}
		}
	}
	.subscribe {
		.content {
			left: 20px;
		}
		form {
			left: 250px;
		}
	}
	footer {
		.content {
			.privacy {
				margin-left: 365px;
			}
		}
	}
}
//iPhone 5 - Landscape
@media screen and (max-width: 568px) {
	.learn {
		height: 700px;
		.content {
			.youtube {
				float: none;
				margin-top: 35px;
				margin-left: 72px;
				h3{
					text-align: center;
					margin-left: 0px;
				}
				embed{
					width: 420px;
				}
			}
			.customers {
				height: 325px;
				float: none;
				margin-top: 35px;
				margin-left: 110px;
			}
		}
	}
	.subscribe {
		.content {
			left: 20px;
		}
		form {
			left: 250px;
			input[type='email']{
				width: 220px;
			}
		}
	}
}
//iPhone 4 - Landscape
@media screen and (max-width: 480px) {
	@include narrow_screen;
	header {
		#logo {
			left: 160px;
			top: 35px;
		}
		.social {
			top: 100px;
		}
		.flickr {
			left: 165px;
		}
		.stumble {
			left: 200px;
		}
		.facebook {
			left: 235px;
		}
		.twitter {
			left: 270px;
		}
		.call {
			left: 115px;
		}
		#phone {
			left: 182px;
		}
		.phone_number {
			left: 216px;
		}
	}
	.buy {
		.button-buy {
			left: 125px;
		}
		.button-demo {
			left: 164px;
		}
	}
	.check {
		.content {
			.calendar {
				margin-left: 108px;
			}
			.search {
				margin-left: 108px;
			}
			.settings {
				margin-left: 108px;
			}
		}
	}
	.look {
		.content {
			img {
				margin-left: 124px;
			}
		}
	}
	.premium {
		.content {
			.elite, .regular, .pro {
				margin-left: 84px;
			}
		}
	}
	.learn {
		.content {
			.customers {
				width: 349px;
				margin-left: 64px;
			}
			.youtube {
				margin-left: 32px;
				h3 {
					margin-left: 96px;
				}
				embed {
					width: 380px;
				}
			}
		}
	}
	.subscribe {
		.content {
			left: 125px;
		}
		form {
			left: 68px;
		}
	}
	footer {
		.content {
			p {
				margin-left: 95px;
			}
			.privacy {
				margin-left: 125px;
			}
		}
	}
}
//HTC One X - Portrait
@media screen and (max-width: 360px) {
	header {
		height: 215px;
		#logo {
			left: 93px;
			top: 35px;
		}
		.social {
			top: 100px;
		}
		.flickr {
			left: 100px;
		}
		.stumble {
			left: 135px;
		}
		.facebook {
			left: 170px;
		}
		.twitter {
			left: 205px;
		}
		.call {
			left: 50px;
			font-size: 16px;
			top: 156px;
		}
		#phone {
			left: 120px;
			top: 151px;
		}
		.phone_number {
			left: 155px;
			font-size: 20px;
			top: 153px;
		}
	}
	.tool {
		.content {
			position: static;
			margin: 0 auto;
			padding-top: 25px;
			width: 339px;
			h3, p {
				text-align: center;
			}
		}
	}
	.buy {
		height: 170px;
		img {
			display: none;
		}
		.button-buy {
			left: 65px;
		}
		.button-demo {
			left: 103px;
			top: 104px;
		}
	}
	.check {
		height: 830px;
		.features {
			font-size: 30px;
		}
		.content {
			.calendar {
				margin-left: 50px;
				margin-right: 0px;
				margin-top: 35px;
				float: none;
				h3{
					font-size: 30px;
					margin-right: 10px;
				}
				p {
					font-size: 15px;
				}
			}
			.search {
				margin-left: 50px;
				margin-right: 0px;
				margin-top: 35px;
				float: none;
				h3{
					font-size: 30px;
					margin-right: 43px;
				}
				p {
					font-size: 15px;
				}
			}
			.settings {
				margin-left: 50px;
				margin-right: 0px;
				margin-top: 35px;
				float: none;
				h3{
					font-size: 30px;
					margin-right: 25px;
				}
				p {
					font-size: 15px;
				}
			}
		}
	}
	.look {
		height: 885px;
		h3 {
			font-size: 30px;
			margin-bottom: 7px;
		}
		.content {
			img {
				float: none;
				margin-right: 0px;
				margin-top: 35px;
				margin-left: 68px;
			}
		}
	}
	.premium {
		height: 1390px;
		h3 {
			margin-left: 0px;
			font-size: 30px;
		}
		.content {
			.elite, .regular, .pro {
				float: none;
				margin-top: 35px;
				margin-left: 22px;
			}
		}
	}
	.learn {
		height: 670px;
		.content {
			h3 {
				font-size: 30px;
				text-align: center;
			}
			.customers {
				@include size(348px 395px);
				float: none;
				margin-top: 35px;
				margin-left: 5px;
				.comment {
					margin-bottom: 28px;
					p {
						width: 260px;
					}
				}
			}
			.youtube {
				h3 {
					text-align: justify;
					margin-left: 70px;
				}
				embed {
					width: 310px;
				}
				float:none;
				margin-top:35px;
				margin-left:5px;
			}
		}
	}
	.subscribe {
		height: 170px;
		margin-top: 110px;
		.content {
			top: 28px;
			left: 66px;
			p {
				font-size: 18px;
				span {
					font-size: 28px;
				}
			}
		}
		form {
			left: 10px;
			top: 100px;
			input[type='email'] {
				width: 260px;
			}
		}
	}
	footer {
		.content {
			p {
				font-size: 13px;
				margin-left: 35px;
			}
			.privacy {
				font-size: 13px;
				margin-left: 75px;
				margin-top: 25px;
			}
		}
	}
}
//iPhone 5 - Portrait
@media screen and (max-width: 320px) {
	@include narrow_screen;
	header {
		#logo {
			left: 84px;
		}
		.flickr {
			left: 90px;
		}
		.stumble {
			left: 125px;
		}
		.facebook {
			left: 160px;
		}
		.twitter {
			left: 195px;
		}
		.call {
			left: 40px;
		}
		#phone {
			left: 108px;
		}
		.phone_number {
			left: 145px;
		}
	}
	.tool {
		height: 350px;
		.content {
			width: 290px;
			h3 {
				text-align: center;
				font-size: 36px;
			}
			p {
				text-align: center;
			}
		}
	}
	.buy {
		.button-buy {
			left: 44px;
		}
		.button-demo {
			left: 86px;
		}
	}
	.check {
		.content {
			.calendar {
				margin-left: 25px;
			}
			.search {
				margin-left: 25px;
			}
			.settings {
				margin-left: 25px;
			}
		}
	}
	.look {
		.content {
			img {
				margin-left: 46px;
			}
		}
	}
	.premium {
		.content {
			.elite, .regular, .pro {
				margin-left: 4px;
				width: 290px;
			}
		}
	}
	.learn {
		height: 720px;
		.content {
			.customers {
				@include size(274px 460px);
				margin-left: 8px;
				.comment {
					margin-bottom: 55px;
					p {
						width: 231px;
					}
				}
			}
			.youtube {
				margin-left: 0px;
				h3 {
					text-align: justify;
					margin-left: 53px;
				}
				embed {
					width: 280px;
				}
			}
		}
	}
	.subscribe {
		.content {
			left: 54px;
		}
		form {
			input[type='email'] {
				width: 220px;
			}
		}
	}
	footer {
		.content {
			p {
				margin-left: 20px;
			}
			.privacy {
				margin-left: 50px;
			}
		}
	}
}