/*
*
* --- file _settings.scss
* 	variable value
*
*
*/

$page_width: 100%;
$color_site_green: #1dbb90;
$color_site_pink: #d34272;
$pt_sans: PT Sans;
$color_site_grey: #474747;
$raleway_title_font_weight: 300;
$raleway_title_font_size: 32px;
$raleway_fonts: 'Raleway', sans-serif;
$raleway_title_char: uppercase;