/*
*
* --- file style.scss
* import all file project
*
*
*/
/*framework Bourbon
-----------------------------------------------------*/
/* mixin project
-----------------------------------------------------*/
/*
*
* --- file _mixin.scss
*   project mixin
*
*
*/
/* setting project
-----------------------------------------------------*/
/*
*
* --- file _settings.scss
* 	variable value
*
*
*/
/* Markup project
-----------------------------------------------------*/
/*
*
* --- file _grid.scss
*    markup page
*
*
*/
header {
  width: 100%;
  height: 110px; }

header div {
  width: 50px;
  height: 50px; }

.superb {
  width: 100%;
  height: 410px; }

.buy {
  width: 100%;
  height: 110px; }

.check {
  width: 100%;
  height: 350px; }

.look {
  width: 100%;
  height: 300px; }

.premium {
  width: 100%;
  height: 540px; }

.learn {
  width: 100%;
  height: 380px; }

.subscribe {
  width: 100%;
  height: 120px; }

footer {
  width: 100%;
  height: 90px; }

/* style page
-----------------------------------------------------*/
/*
*
* --- file _main.scss
*    styling main page
*
*
*/
header {
  position: relative; }
  header #logo {
    position: absolute;
    left: 115px;
    top: 40px; }
  header .flickr {
    left: 625px;
    background-color: #d34272; }
    header .flickr img {
      margin-top: 5px;
      margin-left: 7px; }
  header .stumble {
    left: 660px;
    background-color: #1dbb90; }
    header .stumble img {
      margin-top: 5px; }
  header .facebook {
    left: 695px;
    background-color: #d34272; }
  header .twitter {
    left: 730px;
    background-color: #1dbb90; }
    header .twitter img {
      margin-top: 3px;
      margin-left: 8px; }
  header .call {
    position: absolute;
    left: 785px;
    font-size: 18px;
    font-family: PT Sans;
    top: 43px;
    text-transform: uppercase; }
  header #phone {
    position: absolute;
    left: 870px;
    top: 35px; }
  header .p_number {
    position: absolute;
    top: 38px;
    left: 910px;
    text-transform: uppercase;
    font-size: 23px;
    font-family: PT Sans;
    color: #d34272; }
  header div {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #1dbb90;
    top: 40px; }

.superb {
  position: relative;
  background-color: #1dbb90; }
  .superb .content {
    position: absolute;
    left: 680px;
    top: 90px;
    width: 390px;
    height: 280px; }
    .superb .content p {
      font-family: PT Sans;
      font-size: 15px;
      color: #474747; }
    .superb .content h3 {
      margin-top: 0px;
      font-size: 43px;
      font-family: 'Raleway', sans-serif;
      color: #fff;
      font-weight: 300; }

.buy {
  position: relative;
  background-color: #d34272; }
  .buy img {
    margin-top: -350px;
    margin-left: 120px; }
  .buy .button_buy {
    position: absolute;
    top: 35px;
    left: 675px;
    width: 220px;
    height: 40px;
    background-color: #1dbb90; }
    .buy .button_buy span {
      left: 46px; }
  .buy div {
    position: relative; }
    .buy div span {
      font-family: PT Sans;
      font-size: 18px;
      position: absolute;
      top: 8px;
      color: #fff; }
  .buy .demo {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 920px;
    top: 35px;
    background-color: #474747; }
    .buy .demo span {
      left: 35px; }

.subscribe {
  position: relative;
  background-color: #d34272; }
