@charset "IBM866";
/*
*
* --- file style.scss
* import all file project
*
*
*/
/*framework Bourbon
-----------------------------------------------------*/
/* mixin project
-----------------------------------------------------*/
/*
*
* --- file _mixin.scss
*   project mixin
*
*
*/
/* setting project
-----------------------------------------------------*/
/*
*
* --- file _settings.scss
* 	variable value
*
*
*/
/* Markup project
-----------------------------------------------------*/
/*
*
* --- file _grid.scss
*    markup page
*
*
*/
header {
  width: 100%;
  height: 106px; }

.tool {
  width: 100%;
  height: 410px; }

.buy {
  width: 100%;
  height: 110px; }

.check {
  width: 100%;
  height: 330px; }

.look {
  width: 100%;
  height: 260px; }

.premium {
  width: 100%;
  height: 512px; }

.learn {
  width: 100%;
  height: 405px; }

.subscribe {
  width: 100%;
  height: 120px; }

footer {
  width: 100%;
  height: 90px; }

/* style page
-----------------------------------------------------*/
/*
*
* --- file _main.scss
*    styling main page
*
*
*/
header {
  position: relative; }
  header #logo {
    position: absolute;
    left: 115px;
    top: 40px; }
  header .social {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 36px; }
  header .flickr {
    left: 623px;
    background-color: #d34272; }
    header .flickr img {
      margin-top: 5px;
      margin-left: 7px; }
  header .stumble {
    left: 658px;
    background-color: #1dbb90; }
    header .stumble img {
      margin-top: 5px; }
  header .facebook {
    left: 693px;
    background-color: #d34272; }
    header .facebook i {
      color: #fff;
      margin-left: 10px;
      margin-top: 9px; }
  header .twitter {
    left: 728px;
    background-color: #1dbb90; }
    header .twitter img {
      margin-top: 3px;
      margin-left: 8px; }
  header .call {
    position: absolute;
    left: 779px;
    font-size: 18px;
    font-family: PT Sans;
    top: 40px;
    text-transform: uppercase; }
  header #phone {
    position: absolute;
    left: 870px;
    top: 35px; }
  header .phone_number {
    position: absolute;
    top: 37px;
    left: 907px;
    text-transform: uppercase;
    font-size: 23px;
    font-family: PT Sans;
    color: #d34272; }

.tool {
  position: relative;
  background-color: #1dbb90; }
  .tool .content {
    position: absolute;
    left: 675px;
    top: 78px;
    width: 390px;
    height: 280px; }
    .tool .content p {
      font-family: PT Sans;
      font-size: 15px;
      color: #474747;
      line-height: 1.75; }
    .tool .content h3 {
      margin-top: 0px;
      font-size: 43px;
      font-family: "Raleway", sans-serif;
      color: #fff;
      font-weight: 300;
      margin-bottom: 23px; }

.buy {
  position: relative;
  background-color: #d34272; }
  .buy img {
    position: absolute;
    left: 115px;
    top: -350px; }
  .buy .button {
    position: relative; }
    .buy .button span {
      font-family: PT Sans;
      font-size: 18px;
      position: absolute;
      top: 8px;
      color: #fff; }
  .buy .button-buy {
    position: absolute;
    top: 35px;
    left: 675px;
    width: 220px;
    height: 40px;
    background-color: #1dbb90; }
    .buy .button-buy span {
      left: 43px; }
  .buy .button-demo {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 915px;
    top: 35px;
    background-color: #474747; }
    .buy .button-demo span {
      left: 35px; }

.check {
  position: relative; }
  .check .features {
    margin-top: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin-bottom: 44px;
    color: #1dbb90; }
    .check .features span {
      color: #d34272; }
  .check .content {
    width: 952px;
    height: 250px;
    margin: 0 auto; }
    .check .content div {
      float: left;
      width: 265px;
      height: 205px;
      margin-right: 52px; }
      .check .content div h3 {
        font-weight: 300;
        font-size: 32px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 8px;
        margin-bottom: 0px;
        float: right;
        font-size: 25px;
        line-height: 1.1;
        color: #d34272; }
        .check .content div h3 span {
          color: #1dbb90; }
      .check .content div p {
        margin-top: 21px;
        font-family: PT Sans;
        font-size: 15px;
        line-height: 1.6; }
    .check .content .calendar {
      margin-top: 3px;
      margin-left: 12px; }
      .check .content .calendar h3 {
        margin-top: 1px;
        margin-right: 50px; }
    .check .content .search h3 {
      margin-right: 83px; }
    .check .content .settings {
      margin-right: 0px; }
      .check .content .settings h3 {
        margin-right: 58px; }

.look h3 {
  letter-spacing: 0px;
  margin-top: 0px;
  margin-bottom: 42px;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1dbb90; }
  .look h3 span {
    color: #d34272; }
.look .content {
  width: 1000px;
  height: 200px;
  margin: 0 auto; }
  .look .content img {
    float: left;
    margin-right: 20px; }

.premium {
  position: relative; }
  .premium h3 {
    margin-top: 28px;
    font-weight: 300;
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin-left: -173px;
    text-align: center;
    margin-bottom: 29px;
    color: #1dbb90; }
    .premium h3 span {
      color: #d34272; }
  .premium .content {
    width: 960px;
    height: 390px;
    margin: 0 auto; }
    .premium .content .button {
      width: 135px;
      height: 35px;
      background-color: #1dbb90;
      margin-left: 120px; }
      .premium .content .button a {
        text-decoration: none; }
        .premium .content .button a p {
          font-family: PT Sans;
          color: #fff;
          font-size: 15px;
          text-align: center;
          padding-top: 6px; }
    .premium .content .list p {
      font-family: PT Sans;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      text-align: center; }
    .premium .content .list ul {
      line-height: 2.5;
      color: #fff; }
      .premium .content .list ul li {
        list-style-type: none; }
      .premium .content .list ul li:before {
        content: "► "; }
    .premium .content div .top_message {
      width: 205px;
      height: 45px;
      margin: 0 auto; }
      .premium .content div .top_message p {
        margin-left: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: PT Sans;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        padding-top: 3px; }
        .premium .content div .top_message p span {
          font-size: 27px; }
    .premium .content div .top_message2 p {
      margin-left: 33px; }
    .premium .content div .top_message3 p {
      margin-left: 18px; }
    .premium .content .regular {
      float: left;
      width: 300px;
      height: 385px;
      margin-right: 20px;
      background-color: #474747; }
      .premium .content .regular .top_message {
        background-color: #1dbb90; }
    .premium .content .elite {
      float: left;
      width: 300px;
      height: 385px;
      margin-right: 20px;
      background-color: #d34272; }
      .premium .content .elite .top_message {
        background-color: #474747; }
      .premium .content .elite .button {
        background-color: #474747; }
    .premium .content .pro {
      margin-right: 20px;
      width: 300px;
      height: 385px;
      float: right;
      background-color: #1dbb90; }
      .premium .content .pro .top_message {
        background-color: #d34272; }
      .premium .content .pro .button {
        background-color: #d34272; }

.learn {
  position: relative; }
  .learn .content {
    width: 960px;
    height: 380px;
    margin: 0 auto; }
    .learn .content .customers {
      width: 410px;
      height: 285px;
      margin-right: 60px;
      float: left; }
      .learn .content .customers h3 {
        color: #1dbb90; }
        .learn .content .customers h3 span {
          color: #d34272; }
      .learn .content .customers .comment {
        width: 400px;
        height: 70px;
        margin-bottom: 10px; }
        .learn .content .customers .comment img {
          float: left;
          margin-top: 5px; }
        .learn .content .customers .comment p {
          font-family: PT Sans;
          font-size: 15px;
          width: 360px;
          margin-top: 0px;
          margin-bottom: 8px;
          padding-left: 70px; }
    .learn .content .youtube {
      width: 490px;
      height: 315px;
      float: right; }
      .learn .content .youtube h3 {
        margin-left: 5px;
        margin-bottom: 26px;
        color: #1dbb90; }
        .learn .content .youtube h3 span {
          color: #d34272; }
      .learn .content .youtube embed {
        margin-left: 10px; }
    .learn .content h3 {
      margin-top: 30px;
      font-weight: 300;
      font-size: 32px;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      margin-bottom: 21px; }

.subscribe {
  position: relative;
  background-color: #d34272; }
  .subscribe .content {
    width: 230px;
    height: 45px;
    position: absolute;
    left: 115px;
    top: 32px; }
    .subscribe .content p {
      text-transform: uppercase;
      line-height: 1;
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 21px;
      margin-bottom: 0px;
      margin-top: 0px; }
      .subscribe .content p span {
        font-size: 32px;
        font-weight: bold; }
  .subscribe form {
    position: absolute;
    left: 705px;
    top: 32px; }
    .subscribe form input[type='email'] {
      width: 365px;
      height: 35px;
      border: 0px; }
    .subscribe form input[type='submit'] {
      background-image: url(../img/letter.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff;
      border: 0px;
      width: 60px;
      height: 55px;
      margin-left: -4px;
      padding-left: 0px;
      padding-right: 0px; }

footer {
  position: relative; }
  footer .content .privacy {
    width: 250px;
    height: 20px;
    font-family: PT Sans;
    font-size: 15px;
    margin-left: 821px;
    margin-top: -19px; }
    footer .content .privacy a {
      text-decoration: none;
      color: black;
      margin-right: 10px; }
  footer .content p {
    font-family: PT Sans;
    font-size: 15px;
    margin-left: 112px;
    padding-top: 33px;
    margin-bottom: 0px;
    margin-top: 0px; }

/* responsive desing
-----------------------------------------------------*/
/*
*
* --- file _responsive.scss
*   responsive desing
*
*
*/
@media screen and (max-width: 1024px) {
  header #logo {
    left: 15px;
    top: 35px; }
  header .flickr {
    left: 220px; }
  header .stumble {
    left: 255px; }
  header .facebook {
    left: 290px; }
  header .twitter {
    left: 325px; }
  header .call {
    left: 365px;
    font-size: 16px; }
  header #phone {
    left: 435px; }
  header .phone_number {
    left: 470px;
    font-size: 20px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 108px; }
  .buy .button-demo {
    left: 345px; }

  .check {
    height: 800px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 205px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 150px; }

  .learn {
    height: 670px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 110px; }
    .learn .content .customers {
      height: 285px;
      float: none;
      margin-top: 35px;
      margin-left: 110px; }

  .subscribe .content {
    top: 35px;
    left: 45px; }
    .subscribe .content p {
      font-size: 18px; }
      .subscribe .content p span {
        font-size: 28px; }
  .subscribe form {
    left: 285px; }
    .subscribe form input[type='email'] {
      width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 20px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 405px; }

  header #logo {
    left: 70px; }
  header .flickr {
    left: 445px; }
  header .stumble {
    left: 480px; }
  header .facebook {
    left: 515px; }
  header .twitter {
    left: 550px; }
  header .call {
    left: 600px; }
  header #phone {
    left: 675px; }
  header .phone_number {
    left: 715px; }

  .tool .content {
    position: absolute;
    padding-top: 0px;
    top: 65px;
    left: 560px; }

  .buy img {
    display: block;
    left: 20px;
    top: -345px; }
  .buy .button-buy {
    left: 555px; }
  .buy .button-demo {
    left: 795px; }

  .check {
    height: 350px; }
    .check .features {
      margin-bottom: 40px; }
    .check .content .calendar {
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
    .check .content .search {
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
    .check .content .settings {
      margin-top: 0px;
      float: right;
      margin-right: 37px;
      margin-left: 0px; }

  .look {
    height: 290px; }
    .look h3 {
      margin-bottom: 7px; }
    .look .content img {
      float: left;
      margin-left: 27px; }

  .premium {
    height: 520px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: left;
      margin-top: 0px;
      margin-left: 16px;
      margin-right: 0px; }

  .learn {
    height: 410px; }
    .learn .content .youtube, .learn .content .customers {
      float: left;
      margin-top: 0px;
      margin-left: 15px; }
    .learn .content .youtube {
      width: 435px;
      height: 360px; }
    .learn .content .customers {
      width: 410px;
      height: 360px; }

  .subscribe .content {
    top: 35px;
    left: 50px; }
  .subscribe form {
    left: 580px; }
    .subscribe form input[type='email'] {
      width: 300px; }

  footer .content p {
    margin-left: 60px;
    padding-top: 40px; }
  footer .content .privacy {
    margin-left: 705px;
    margin-top: -20px; } }
@media screen and (max-width: 960px) {
  header #logo {
    left: 15px;
    top: 35px; }
  header .flickr {
    left: 220px; }
  header .stumble {
    left: 255px; }
  header .facebook {
    left: 290px; }
  header .twitter {
    left: 325px; }
  header .call {
    left: 365px;
    font-size: 16px; }
  header #phone {
    left: 435px; }
  header .phone_number {
    left: 470px;
    font-size: 20px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 108px; }
  .buy .button-demo {
    left: 345px; }

  .check {
    height: 800px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 205px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 150px; }

  .learn {
    height: 670px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 110px; }
    .learn .content .customers {
      height: 285px;
      float: none;
      margin-top: 35px;
      margin-left: 110px; }

  .subscribe .content {
    top: 35px;
    left: 45px; }
    .subscribe .content p {
      font-size: 18px; }
      .subscribe .content p span {
        font-size: 28px; }
  .subscribe form {
    left: 285px; }
    .subscribe form input[type='email'] {
      width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 20px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 405px; }

  header #logo {
    left: 110px; }
  header .flickr {
    left: 410px; }
  header .stumble {
    left: 445px; }
  header .facebook {
    left: 480px; }
  header .twitter {
    left: 515px; }
  header .call {
    left: 565px; }
  header #phone {
    left: 645px; }
  header .phone_number {
    left: 685px; }

  .tool .content {
    position: absolute;
    padding-top: 0px;
    top: 65px;
    left: 540px; }

  .buy img {
    display: block;
    left: 5px;
    top: -345px; }
  .buy .button-buy {
    left: 525px; }
  .buy .button-demo {
    left: 765px; }

  .check {
    height: 350px; }
    .check .features {
      margin-bottom: 40px; }
    .check .content .calendar {
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
    .check .content .search {
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
    .check .content .settings {
      margin-top: 0px;
      float: right;
      margin-right: 37px;
      margin-left: 0px; }

  .look {
    height: 290px; }
    .look h3 {
      margin-bottom: 7px; }
    .look .content img {
      float: left;
      margin-left: 15px; }

  .premium {
    height: 520px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: left;
      margin-top: 0px;
      margin-left: 10px;
      margin-right: 0px; }

  .learn {
    height: 410px; }
    .learn .content .youtube, .learn .content .customers {
      float: left;
      margin-top: 0px;
      margin-left: 15px; }
    .learn .content .youtube {
      width: 435px;
      height: 360px; }
    .learn .content .customers {
      width: 410px;
      height: 360px; }

  .subscribe .content {
    top: 35px;
    left: 90px; }
  .subscribe form {
    left: 520px; }
    .subscribe form input[type='email'] {
      width: 300px; }

  footer .content p {
    margin-left: 95px;
    padding-top: 40px; }
  footer .content .privacy {
    margin-left: 615px;
    margin-top: -20px; } }
@media screen and (max-width: 800px) {
  header #logo {
    left: 15px;
    top: 35px; }
  header .flickr {
    left: 220px; }
  header .stumble {
    left: 255px; }
  header .facebook {
    left: 290px; }
  header .twitter {
    left: 325px; }
  header .call {
    left: 365px;
    font-size: 16px; }
  header #phone {
    left: 435px; }
  header .phone_number {
    left: 470px;
    font-size: 20px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 108px; }
  .buy .button-demo {
    left: 345px; }

  .check {
    height: 800px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 205px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 150px; }

  .learn {
    height: 670px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 110px; }
    .learn .content .customers {
      height: 285px;
      float: none;
      margin-top: 35px;
      margin-left: 110px; }

  .subscribe .content {
    top: 35px;
    left: 45px; }
    .subscribe .content p {
      font-size: 18px; }
      .subscribe .content p span {
        font-size: 28px; }
  .subscribe form {
    left: 285px; }
    .subscribe form input[type='email'] {
      width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 20px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 405px; }

  header #logo {
    left: 75px; }
  header .flickr {
    left: 365px; }
  header .stumble {
    left: 400px; }
  header .facebook {
    left: 435px; }
  header .twitter {
    left: 470px; }
  header .call {
    left: 525px; }
  header #phone {
    left: 595px; }
  header .phone_number {
    left: 630px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 190px; }
  .buy .button-demo {
    left: 425px; }

  .check {
    height: 315px; }
    .check .content .calendar {
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
      .check .content .calendar h3 {
        font-size: 25px;
        margin-right: 48px; }
      .check .content .calendar p {
        font-size: 13px; }
    .check .content .search {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
      .check .content .search h3 {
        font-size: 25px;
        margin-right: 80px; }
      .check .content .search p {
        font-size: 13px; }
    .check .content .settings {
      margin-top: 0px;
      float: right;
      margin-right: 147px;
      margin-left: 0px; }
      .check .content .settings h3 {
        font-size: 25px;
        margin-right: 64px; }
      .check .content .settings p {
        font-size: 13px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 270px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 234px; }

  .learn {
    height: 410px; }
    .learn .content .youtube, .learn .content .customers {
      float: left;
      margin-top: 0px;
      margin-left: 15px; }
    .learn .content .customers {
      width: 390px;
      height: 360px;
      margin-right: 0px; }
      .learn .content .customers .comment {
        margin-bottom: 23px; }
        .learn .content .customers .comment p {
          width: 331px;
          margin-bottom: 2px; }
    .learn .content .youtube {
      width: 435px;
      height: 360px; }
      .learn .content .youtube embed {
        width: 335px; }

  .subscribe .content {
    left: 55px; }
  .subscribe form {
    left: 385px; }

  footer .content p {
    margin-left: 50px; }
  footer .content .privacy {
    margin-left: 495px; } }
@media screen and (max-width: 768px) {
  header #logo {
    left: 15px;
    top: 35px; }
  header .flickr {
    left: 220px; }
  header .stumble {
    left: 255px; }
  header .facebook {
    left: 290px; }
  header .twitter {
    left: 325px; }
  header .call {
    left: 365px;
    font-size: 16px; }
  header #phone {
    left: 435px; }
  header .phone_number {
    left: 470px;
    font-size: 20px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 108px; }
  .buy .button-demo {
    left: 345px; }

  .check {
    height: 800px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 205px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 150px; }

  .learn {
    height: 670px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 110px; }
    .learn .content .customers {
      height: 285px;
      float: none;
      margin-top: 35px;
      margin-left: 110px; }

  .subscribe .content {
    top: 35px;
    left: 45px; }
    .subscribe .content p {
      font-size: 18px; }
      .subscribe .content p span {
        font-size: 28px; }
  .subscribe form {
    left: 285px; }
    .subscribe form input[type='email'] {
      width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 20px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 405px; }

  header #logo {
    left: 50px; }
  header .flickr {
    left: 350px; }
  header .stumble {
    left: 385px; }
  header .facebook {
    left: 420px; }
  header .twitter {
    left: 455px; }
  header .call {
    left: 497px; }
  header #phone {
    left: 565px; }
  header .phone_number {
    left: 600px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 70px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 170px; }
  .buy .button-demo {
    left: 405px; }

  .check {
    height: 315px; }
    .check .content .calendar {
      width: 250px;
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
      .check .content .calendar h3 {
        font-size: 25px;
        margin-right: 40px; }
      .check .content .calendar p {
        font-size: 13px; }
    .check .content .search {
      width: 250px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      float: left; }
      .check .content .search h3 {
        font-size: 25px;
        margin-right: 72px; }
      .check .content .search p {
        font-size: 13px; }
    .check .content .settings {
      width: 250px;
      margin-top: 0px;
      float: right;
      margin-right: 190px;
      margin-left: 0px; }
      .check .content .settings h3 {
        font-size: 25px;
        margin-right: 53px; }
      .check .content .settings p {
        font-size: 13px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 270px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 225px; }

  .learn {
    height: 410px; }
    .learn .content .youtube, .learn .content .customers {
      float: left;
      margin-top: 0px;
      margin-left: 10px; }
    .learn .content .customers {
      width: 390px;
      height: 360px;
      margin-right: 0px; }
      .learn .content .customers .comment {
        margin-bottom: 23px; }
        .learn .content .customers .comment p {
          width: 309px;
          margin-bottom: 2px; }
    .learn .content .youtube {
      width: 435px;
      height: 360px; }
      .learn .content .youtube embed {
        width: 317px; }

  .subscribe .content {
    left: 50px; }
  .subscribe form {
    left: 405px; }

  footer .content p {
    margin-left: 40px; }
  footer .content .privacy {
    margin-left: 505px; } }
@media screen and (max-width: 640px) {
  header #logo {
    left: 15px;
    top: 35px; }
  header .flickr {
    left: 220px; }
  header .stumble {
    left: 255px; }
  header .facebook {
    left: 290px; }
  header .twitter {
    left: 325px; }
  header .call {
    left: 365px;
    font-size: 16px; }
  header #phone {
    left: 435px; }
  header .phone_number {
    left: 470px;
    font-size: 20px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 108px; }
  .buy .button-demo {
    left: 345px; }

  .check {
    height: 800px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 205px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 150px; }

  .learn {
    height: 670px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 110px; }
    .learn .content .customers {
      height: 285px;
      float: none;
      margin-top: 35px;
      margin-left: 110px; }

  .subscribe .content {
    top: 35px;
    left: 45px; }
    .subscribe .content p {
      font-size: 18px; }
      .subscribe .content p span {
        font-size: 28px; }
  .subscribe form {
    left: 285px; }
    .subscribe form input[type='email'] {
      width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 20px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 405px; } }
@media screen and (max-width: 600px) {
  header #logo {
    left: 15px;
    top: 35px; }
  header .flickr {
    left: 220px; }
  header .stumble {
    left: 255px; }
  header .facebook {
    left: 290px; }
  header .twitter {
    left: 325px; }
  header .call {
    left: 365px;
    font-size: 16px; }
  header #phone {
    left: 435px; }
  header .phone_number {
    left: 470px;
    font-size: 20px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 108px; }
  .buy .button-demo {
    left: 345px; }

  .check {
    height: 800px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 190px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 845px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 205px; }

  .premium {
    height: 1350px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 150px; }

  .learn {
    height: 670px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 110px; }
    .learn .content .customers {
      height: 285px;
      float: none;
      margin-top: 35px;
      margin-left: 110px; }

  .subscribe .content {
    top: 35px;
    left: 45px; }
    .subscribe .content p {
      font-size: 18px; }
      .subscribe .content p span {
        font-size: 28px; }
  .subscribe form {
    left: 285px; }
    .subscribe form input[type='email'] {
      width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 20px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 405px; }

  header {
    height: 215px; }
    header #logo {
      left: 220px; }
    header .social {
      top: 100px; }
    header .flickr {
      left: 230px; }
    header .stumble {
      left: 265px; }
    header .facebook {
      left: 300px; }
    header .twitter {
      left: 335px; }
    header .call {
      left: 173px;
      font-size: 16px;
      top: 156px; }
    header #phone {
      left: 244px;
      top: 151px; }
    header .phone_number {
      left: 280px;
      font-size: 20px;
      top: 153px; }

  .tool .content {
    position: static;
    margin-left: 120px;
    padding-top: 78px; }

  .buy img {
    display: none; }
  .buy .button-buy {
    left: 110px; }
  .buy .button-demo {
    left: 350px; }

  .check .features {
    font-size: 30px; }
  .check .content .calendar {
    margin-left: 165px; }
  .check .content .search {
    margin-left: 165px; }
  .check .content .settings {
    margin-left: 165px; }

  .look .content img {
    margin-left: 180px; }

  .premium .content .elite, .premium .content .regular, .premium .content .pro {
    margin-left: 140px; }

  .learn .content .youtube {
    margin-left: 85px; }
  .learn .content .customers {
    margin-left: 100px; }

  .subscribe .content {
    left: 20px; }
  .subscribe form {
    left: 250px; }

  footer .content .privacy {
    margin-left: 365px; } }
@media screen and (max-width: 480px) {
  header {
    height: 215px; }
    header #logo {
      left: 93px;
      top: 35px; }
    header .social {
      top: 100px; }
    header .flickr {
      left: 100px; }
    header .stumble {
      left: 135px; }
    header .facebook {
      left: 170px; }
    header .twitter {
      left: 205px; }
    header .call {
      left: 50px;
      font-size: 16px;
      top: 156px; }
    header #phone {
      left: 120px;
      top: 151px; }
    header .phone_number {
      left: 155px;
      font-size: 20px;
      top: 153px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 25px;
    width: 339px; }
    .tool .content h3, .tool .content p {
      text-align: center; }

  .buy {
    height: 170px; }
    .buy img {
      display: none; }
    .buy .button-buy {
      left: 65px; }
    .buy .button-demo {
      left: 103px;
      top: 104px; }

  .check {
    height: 830px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 885px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 68px; }

  .premium {
    height: 1390px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 22px; }

  .learn {
    height: 670px; }
    .learn .content h3 {
      font-size: 30px;
      text-align: center; }
    .learn .content .customers {
      width: 348px;
      height: 395px;
      float: none;
      margin-top: 35px;
      margin-left: 5px; }
      .learn .content .customers .comment {
        margin-bottom: 28px; }
        .learn .content .customers .comment p {
          width: 260px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 5px; }
      .learn .content .youtube h3 {
        text-align: justify;
        margin-left: 70px; }
      .learn .content .youtube embed {
        width: 310px; }

  .subscribe {
    height: 170px;
    margin-top: 110px; }
    .subscribe .content {
      top: 28px;
      left: 66px; }
      .subscribe .content p {
        font-size: 18px; }
        .subscribe .content p span {
          font-size: 28px; }
    .subscribe form {
      left: 10px;
      top: 100px; }
      .subscribe form input[type='email'] {
        width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 35px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 75px;
    margin-top: 25px; }

  header #logo {
    left: 160px;
    top: 35px; }
  header .social {
    top: 100px; }
  header .flickr {
    left: 165px; }
  header .stumble {
    left: 200px; }
  header .facebook {
    left: 235px; }
  header .twitter {
    left: 270px; }
  header .call {
    left: 115px; }
  header #phone {
    left: 182px; }
  header .phone_number {
    left: 216px; }

  .buy .button-buy {
    left: 125px; }
  .buy .button-demo {
    left: 164px; }

  .check .content .calendar {
    margin-left: 108px; }
  .check .content .search {
    margin-left: 108px; }
  .check .content .settings {
    margin-left: 108px; }

  .look .content img {
    margin-left: 124px; }

  .premium .content .elite, .premium .content .regular, .premium .content .pro {
    margin-left: 84px; }

  .learn .content .customers {
    width: 349px;
    margin-left: 64px; }
  .learn .content .youtube {
    margin-left: 32px; }
    .learn .content .youtube h3 {
      margin-left: 96px; }
    .learn .content .youtube embed {
      width: 380px; }

  .subscribe .content {
    left: 125px; }
  .subscribe form {
    left: 68px; }

  footer .content p {
    margin-left: 95px; }
  footer .content .privacy {
    margin-left: 125px; } }
@media screen and (max-width: 360px) {
  header {
    height: 215px; }
    header #logo {
      left: 93px;
      top: 35px; }
    header .social {
      top: 100px; }
    header .flickr {
      left: 100px; }
    header .stumble {
      left: 135px; }
    header .facebook {
      left: 170px; }
    header .twitter {
      left: 205px; }
    header .call {
      left: 50px;
      font-size: 16px;
      top: 156px; }
    header #phone {
      left: 120px;
      top: 151px; }
    header .phone_number {
      left: 155px;
      font-size: 20px;
      top: 153px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 25px;
    width: 339px; }
    .tool .content h3, .tool .content p {
      text-align: center; }

  .buy {
    height: 170px; }
    .buy img {
      display: none; }
    .buy .button-buy {
      left: 65px; }
    .buy .button-demo {
      left: 103px;
      top: 104px; }

  .check {
    height: 830px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 885px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 68px; }

  .premium {
    height: 1390px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 22px; }

  .learn {
    height: 670px; }
    .learn .content h3 {
      font-size: 30px;
      text-align: center; }
    .learn .content .customers {
      width: 348px;
      height: 395px;
      float: none;
      margin-top: 35px;
      margin-left: 5px; }
      .learn .content .customers .comment {
        margin-bottom: 28px; }
        .learn .content .customers .comment p {
          width: 260px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 5px; }
      .learn .content .youtube h3 {
        text-align: justify;
        margin-left: 70px; }
      .learn .content .youtube embed {
        width: 310px; }

  .subscribe {
    height: 170px;
    margin-top: 110px; }
    .subscribe .content {
      top: 28px;
      left: 66px; }
      .subscribe .content p {
        font-size: 18px; }
        .subscribe .content p span {
          font-size: 28px; }
    .subscribe form {
      left: 10px;
      top: 100px; }
      .subscribe form input[type='email'] {
        width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 35px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 75px;
    margin-top: 25px; } }
@media screen and (max-width: 320px) {
  header {
    height: 215px; }
    header #logo {
      left: 93px;
      top: 35px; }
    header .social {
      top: 100px; }
    header .flickr {
      left: 100px; }
    header .stumble {
      left: 135px; }
    header .facebook {
      left: 170px; }
    header .twitter {
      left: 205px; }
    header .call {
      left: 50px;
      font-size: 16px;
      top: 156px; }
    header #phone {
      left: 120px;
      top: 151px; }
    header .phone_number {
      left: 155px;
      font-size: 20px;
      top: 153px; }

  .tool .content {
    position: static;
    margin: 0 auto;
    padding-top: 25px;
    width: 339px; }
    .tool .content h3, .tool .content p {
      text-align: center; }

  .buy {
    height: 170px; }
    .buy img {
      display: none; }
    .buy .button-buy {
      left: 65px; }
    .buy .button-demo {
      left: 103px;
      top: 104px; }

  .check {
    height: 830px; }
    .check .features {
      font-size: 30px; }
    .check .content .calendar {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .calendar h3 {
        font-size: 32px;
        margin-right: 3px; }
      .check .content .calendar p {
        font-size: 15px; }
    .check .content .search {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .search h3 {
        font-size: 32px;
        margin-right: 43px; }
      .check .content .search p {
        font-size: 15px; }
    .check .content .settings {
      margin-left: 50px;
      margin-right: 0px;
      margin-top: 35px;
      float: none; }
      .check .content .settings h3 {
        font-size: 32px;
        margin-right: 15px; }
      .check .content .settings p {
        font-size: 15px; }

  .look {
    height: 885px; }
    .look h3 {
      font-size: 30px;
      margin-bottom: 7px; }
    .look .content img {
      float: none;
      margin-right: 0px;
      margin-top: 35px;
      margin-left: 68px; }

  .premium {
    height: 1390px; }
    .premium h3 {
      margin-left: 0px;
      font-size: 30px; }
    .premium .content .elite, .premium .content .regular, .premium .content .pro {
      float: none;
      margin-top: 35px;
      margin-left: 22px; }

  .learn {
    height: 670px; }
    .learn .content h3 {
      font-size: 30px;
      text-align: center; }
    .learn .content .customers {
      width: 348px;
      height: 395px;
      float: none;
      margin-top: 35px;
      margin-left: 5px; }
      .learn .content .customers .comment {
        margin-bottom: 28px; }
        .learn .content .customers .comment p {
          width: 260px; }
    .learn .content .youtube {
      float: none;
      margin-top: 35px;
      margin-left: 5px; }
      .learn .content .youtube h3 {
        text-align: justify;
        margin-left: 70px; }
      .learn .content .youtube embed {
        width: 310px; }

  .subscribe {
    height: 170px;
    margin-top: 110px; }
    .subscribe .content {
      top: 28px;
      left: 66px; }
      .subscribe .content p {
        font-size: 18px; }
        .subscribe .content p span {
          font-size: 28px; }
    .subscribe form {
      left: 10px;
      top: 100px; }
      .subscribe form input[type='email'] {
        width: 260px; }

  footer .content p {
    font-size: 13px;
    margin-left: 35px; }
  footer .content .privacy {
    font-size: 13px;
    margin-left: 75px;
    margin-top: 25px; }

  header #logo {
    left: 84px; }
  header .flickr {
    left: 90px; }
  header .stumble {
    left: 125px; }
  header .facebook {
    left: 160px; }
  header .twitter {
    left: 195px; }
  header .call {
    left: 40px; }
  header #phone {
    left: 108px; }
  header .phone_number {
    left: 145px; }

  .tool {
    height: 350px; }
    .tool .content {
      width: 290px; }
      .tool .content h3 {
        text-align: center;
        font-size: 36px; }
      .tool .content p {
        text-align: center; }

  .buy .button-buy {
    left: 44px; }
  .buy .button-demo {
    left: 86px; }

  .check .content .calendar {
    margin-left: 25px; }
  .check .content .search {
    margin-left: 25px; }
  .check .content .settings {
    margin-left: 25px; }

  .look .content img {
    margin-left: 46px; }

  .premium .content .elite, .premium .content .regular, .premium .content .pro {
    margin-left: 4px;
    width: 290px; }

  .learn {
    height: 720px; }
    .learn .content .customers {
      width: 274px;
      height: 460px;
      margin-left: 8px; }
      .learn .content .customers .comment {
        margin-bottom: 55px; }
        .learn .content .customers .comment p {
          width: 231px; }
    .learn .content .youtube {
      margin-left: 0px; }
      .learn .content .youtube h3 {
        text-align: justify;
        margin-left: 53px; }
      .learn .content .youtube embed {
        width: 280px; }

  .subscribe .content {
    left: 54px; }
  .subscribe form input[type='email'] {
    width: 220px; }

  footer .content p {
    margin-left: 20px; }
  footer .content .privacy {
    margin-left: 50px; } }
