@charset "IBM866";
/*
*
* --- file style.scss
* import all file project
*
*
*/
/*framework Bourbon
-----------------------------------------------------*/
/* mixin project
-----------------------------------------------------*/
/*
*
* --- file _mixin.scss
*   project mixin
*
*
*/
/* setting project
-----------------------------------------------------*/
/*
*
* --- file _settings.scss
* 	variable value
*
*
*/
/* Markup project
-----------------------------------------------------*/
/*
*
* --- file _grid.scss
*    markup page
*
*
*/
header {
  width: 100%;
  height: 106px; }

header div {
  width: 50px;
  height: 50px; }

.superb {
  width: 100%;
  height: 410px; }

.buy {
  width: 100%;
  height: 110px; }

.check {
  width: 100%;
  height: 330px; }

.look {
  width: 100%;
  height: 260px; }

.premium {
  width: 100%;
  height: 540px; }

.learn {
  width: 100%;
  height: 380px; }

.subscribe {
  width: 100%;
  height: 120px; }

footer {
  width: 100%;
  height: 90px; }

/* style page
-----------------------------------------------------*/
/*
*
* --- file _main.scss
*    styling main page
*
*
*/
header {
  position: relative; }
  header #logo {
    position: absolute;
    left: 115px;
    top: 40px; }
  header .flickr {
    left: 623px;
    background-color: #d34272; }
    header .flickr img {
      margin-top: 5px;
      margin-left: 7px; }
  header .stumble {
    left: 658px;
    background-color: #1dbb90; }
    header .stumble img {
      margin-top: 5px; }
  header .facebook {
    left: 693px;
    background-color: #d34272; }
    header .facebook i {
      color: #fff;
      margin-left: 10px;
      margin-top: 9px; }
  header .twitter {
    left: 728px;
    background-color: #1dbb90; }
    header .twitter img {
      margin-top: 3px;
      margin-left: 8px; }
  header .call {
    position: absolute;
    left: 779px;
    font-size: 18px;
    font-family: PT Sans;
    top: 40px;
    text-transform: uppercase; }
  header #phone {
    position: absolute;
    left: 870px;
    top: 35px; }
  header .p_number {
    position: absolute;
    top: 37px;
    left: 907px;
    text-transform: uppercase;
    font-size: 23px;
    font-family: PT Sans;
    color: #d34272; }
  header div {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #1dbb90;
    top: 36px; }

.superb {
  position: relative;
  background-color: #1dbb90; }
  .superb .content {
    position: absolute;
    left: 675px;
    top: 78px;
    width: 390px;
    height: 280px; }
    .superb .content p {
      font-family: PT Sans;
      font-size: 15px;
      color: #474747;
      line-height: 1.75; }
    .superb .content h3 {
      margin-top: 0px;
      font-size: 43px;
      font-family: 'Raleway', sans-serif;
      color: #fff;
      font-weight: 300;
      margin-bottom: 23px; }

.buy {
  position: relative;
  background-color: #d34272; }
  .buy img {
    margin-top: -350px;
    margin-left: 115px; }
  .buy .button_buy {
    position: absolute;
    top: 35px;
    left: 675px;
    width: 220px;
    height: 40px;
    background-color: #1dbb90; }
    .buy .button_buy span {
      left: 43px; }
  .buy div {
    position: relative; }
    .buy div span {
      font-family: PT Sans;
      font-size: 18px;
      position: absolute;
      top: 8px;
      color: #fff; }
  .buy .demo {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 915px;
    top: 35px;
    background-color: #474747; }
    .buy .demo span {
      left: 35px; }

.check {
  position: relative; }
  .check .features {
    margin-top: 40px;
    text-transform: uppercase;
    margin-left: 409px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin-bottom: 44px;
    font-weight: 300; }
  .check .content {
    width: 952px;
    height: 250px;
    margin-left: 126px; }
    .check .content div {
      float: left;
      width: 265px;
      height: 205px;
      margin-right: 52px; }
      .check .content div h3 {
        font-weight: 300;
        margin-left: 0px;
        margin-top: 8px;
        margin-bottom: 0px;
        float: right;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        line-height: 1.1; }
      .check .content div p {
        margin-top: 21px;
        font-family: PT Sans;
        font-size: 15px;
        line-height: 1.6; }
    .check .content .calendar {
      margin-top: 3px;
      margin-left: 12px; }
      .check .content .calendar h3 {
        margin-top: 1px;
        margin-right: 50px; }
    .check .content .search h3 {
      margin-right: 83px; }
    .check .content .settings {
      margin-right: 0px; }
      .check .content .settings h3 {
        margin-right: 58px; }

.look h3 {
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 42px;
  margin-left: 377px;
  font-weight: 300; }
.look .content {
  width: 1000px;
  height: 200px;
  margin-left: 115px; }
  .look .content img {
    float: left;
    margin-right: 20px; }

.premium {
  position: relative; }
  .premium h3 {
    margin-top: 28px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin-left: -173px;
    text-align: center;
    margin-bottom: 29px; }
  .premium .content {
    width: 960px;
    height: 390px;
    margin-left: 114px; }
    .premium .content .button {
      width: 135px;
      height: 35px;
      background-color: #1dbb90;
      margin-left: 120px; }
      .premium .content .button a {
        text-decoration: none; }
        .premium .content .button a p {
          font-family: PT Sans;
          color: #fff;
          font-size: 15px;
          text-align: center;
          padding-top: 6px; }
    .premium .content .list p {
      font-family: PT Sans;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      text-align: center; }
    .premium .content .list ul {
      line-height: 2.5;
      color: #fff; }
      .premium .content .list ul li {
        list-style-type: none; }
      .premium .content .list ul li:before {
        content: "► "; }
    .premium .content div .top_message {
      width: 205px;
      height: 45px;
      margin: 0 auto; }
      .premium .content div .top_message p {
        margin-left: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: PT Sans;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        padding-top: 3px; }
        .premium .content div .top_message p span {
          font-size: 27px; }
    .premium .content div .top_message2 p {
      margin-left: 33px; }
    .premium .content div .top_message3 p {
      margin-left: 18px; }
    .premium .content .regular {
      float: left;
      width: 300px;
      height: 385px;
      margin-right: 20px;
      background-color: #474747; }
      .premium .content .regular .top_message {
        background-color: #1dbb90; }
    .premium .content .elite {
      float: left;
      width: 300px;
      height: 385px;
      margin-right: 20px;
      background-color: #d34272; }
      .premium .content .elite .top_message {
        background-color: #474747; }
      .premium .content .elite .button {
        background-color: #474747; }
    .premium .content .pro {
      margin-right: 20px;
      width: 300px;
      height: 385px;
      float: right;
      background-color: #1dbb90; }
      .premium .content .pro .top_message {
        background-color: #d34272; }
      .premium .content .pro .button {
        background-color: #d34272; }

.learn {
  position: relative; }
  .learn .content {
    width: 985px;
    height: 380px;
    margin: 0 auto; }
    .learn .content .customers {
      width: 405px;
      height: 285px;
      margin-right: 80px;
      float: left; }
      .learn .content .customers .comment {
        width: 400px;
        height: 70px;
        margin-bottom: 20px; }
        .learn .content .customers .comment img {
          float: left;
          margin-top: 5px; }
        .learn .content .customers .comment p {
          font-family: PT Sans;
          font-size: 15px;
          width: 360px;
          margin-top: 0px;
          margin-bottom: 8px;
          padding-left: 70px; }
    .learn .content .youtube {
      width: 420px;
      height: 315px;
      margin-right: 80px;
      float: right; }
    .learn .content h3 {
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      font-size: 32px;
      margin-bottom: 25px; }

.subscribe {
  position: relative;
  background-color: #d34272; }
  .subscribe .content {
    width: 230px;
    height: 45px;
    position: absolute;
    left: 115px;
    top: 35px; }
    .subscribe .content p {
      text-transform: uppercase;
      line-height: 1;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-size: 21px;
      margin-bottom: 0px;
      margin-top: 0px; }
      .subscribe .content p font {
        font-size: 32px;
        font-weight: bold; }
  .subscribe form {
    position: absolute;
    left: 625px;
    top: 35px; }
    .subscribe form input[type='email'] {
      width: 365px;
      height: 35px;
      border: 0px; }
    .subscribe form input[type='submit'] {
      background-color: #fff;
      border: 0px;
      width: 55px;
      height: 55px;
      margin-left: -4px;
      padding-left: 0px;
      padding-right: 0px; }

footer {
  position: relative; }
  footer .content .privacy {
    width: 250px;
    height: 20px;
    font-family: PT Sans;
    font-size: 15px;
    margin-left: 815px;
    margin-top: -25px; }
    footer .content .privacy a {
      text-decoration: none;
      color: black;
      margin-right: 10px; }
  footer .content p {
    font-family: PT Sans;
    font-size: 15px;
    margin-left: 120px;
    padding-top: 40px;
    margin-bottom: 0px;
    margin-top: 0px; }
